<section class="mh_show_carrental" style="background: #f9f9f9;padding-bottom: 25px;padding-top: 150px;">
    <div class="container">
        <div class="row">
            <h3 style="text-align: center; color: #333;">Rent a car</h3>

            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;border-right:1px solid #808080;display:block;padding-top: 10px;padding-bottom: 20px;border-left: 1px solid #808080;">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">From *</p>
                                <input id="car_from" name="car_from" class="form-control" placeholder="Điểm đi" autocomplete="on" />
                            </div>
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">To *</p>
                                <input id="car_to" name="car_to" class="form-control" placeholder="Điểm đến" autocomplete="on" />
                            </div>
                        </div>                     

                        <div class="form-group">
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Type *</p>
                                <select id="car_type2" class="form-control"></select>
                            </div>
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Travelling type *</p>
                                <select id="car_hire_type" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Passengers *</p>
                                <select id="car_size2" class="form-control">
                                    <option value="1">1 Passenger</option><option value="2">2 Passengers</option><option value="3">3 Passengers</option><option value="4">4 Passengers</option><option value="5">5 Passengers</option><option value="6">6 Passengers</option><option value="7">7 Passengers</option><option value="8">8 Passengers</option><option value="9">9 Passengers</option><option value="10">10 Passengers</option><option value="11">11 Passengers</option><option value="12">12 Passengers</option><option value="13">13 Passengers</option><option value="14">14 Passengers</option><option value="15">15 Passengers</option><option value="16">16 Passengers</option>
                                </select>
                            </div>              
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Your name*</p>
                                <input id="name" name="name" class="form-control" placeholder="Your name" />
                            </div>              
                        </div>

                        <div class="form-group">                            
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Your phone number*</p>
                                <input id="phone" name="phone" class="form-control" placeholder="Phone number" />
                            </div>
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Pick up*</p>
                                <input type="text" class="form-control" id=from_datetime placeholder="Pick up">
                            </div>
                        </div>
                        
                        <div class="form-group">                            
                            <div class="col-sm-6">
                                <p style="text-align:left;margin-top:5px;">Return*</p>
                                <input type="text" class="form-control" id=to_datetime placeholder="Return">
                            </div>
                            <div class="col-sm-6">
                                <input type="button" value="CONFIRM" class="btn btn-primary btn-block" onclick="booking();" id="btnregister111" style="margin-top: 36px;height: 43px;" />
                            </div>
                        </div>

                        <input type="hidden" id="lon1" name="lon1" value="" />
                        <input type="hidden" id="lat1" name="lat1" value="" />

                        <input type="hidden" id="lon2" name="lon2" value="" />
                        <input type="hidden" id="lat2" name="lat2" value="" />
                        
                        
                    </div>
                </div><!-- end col 10 with offset 1 to centered -->
            </div> <!-- end contact form outer row with centered text-->


        </div>
    </div>
</section>