@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    string host = Request.Url.Authority;
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
        host = "https://" + host;
    }
    else
    {
        url = "http://" + url;
        host = "http://" + host;
    }
}

@{
    ViewBag.title = "Taxi Noi Bai Airport Service";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.des = "Taxi Noi Bai Airport Service, Ha Noi rental car with long and short term";
    ViewBag.keywords = "";
    ViewBag.url = @url;
    ViewBag.image = host + "/Images/taxi-noibai-gia-re-taxi-san-bay-giare-taxi-noibai-hannoi-uy-tin1.jpg";
}

<div class="row" id="taxinoibai" style="background: #fff; color: #333;">

    <div class="col-md-9" style="border-right: 1px solid #e7e7e7;">
        <h1 style="color: #333; text-transform: none;">Taxi Noi Bai Airport Service</h1>
        <div style="text-align: justify;">
            <p>
                Noi Bai Airport is the largest airport in Vietnam in term of total capacity. It is the main airport serving Hanoi. The airport is located in Phu Minh commune in Soc Son District, about 35 kilometres northeast of downtown Ha Noi. The airport iss also close to some satellite cities of Ha Noi such as Vinh Yen, Bac Ninh, Thai Nguyen…The travel time from the city center is 30-45 minutes
                We provide Hanoi Airport Taxi Service at the website: thuexevn.com
            </p>
            <p style="text-align: center;">
                <img class="img-responsive img-c2" src="~/Images/taxi-noibai-gia-re-taxi-san-bay-giare-taxi-noibai-hannoi-uy-tin1.jpg">
            </p>
            <h3 class="color_green">
                How to book the car from Ha Noi Airport                
            </h3>
            <p>
                <ul>
                    <li>Email: thuexevn.com@gmail.com </li>
                    <li>Hotline: (+84) 093 912 6888</li>
                    <li>Website: thuexevn.com </li>
                    <li>Application: Thue xe </li>
                </ul>
            </p>
            <h3 class="color_green">
                Some advantages of hiring Taxi Noi Bai Airport
            </h3>
            <p>
                <ul>
                    <li>
                        Save your time and enjoy your free transfer service
                    </li>
                    <li>
                        Don’t waste time waiting in long taxi queues
                    </li>
                    <li>
                        Our well-train drivers is courteous, friendly and safety
                    </li>
                    <li>	
                        We have all of type of fleet cars,vans for hiring in Viet Nam from 4 seats to 45 seats
                    </li>
                </ul>
            </p>
            <h4 class="color_green">Service taxi Ha Noi - Noi Bai comfortable, quickly</h4>
            <p><b>Notes:</b></p>
            <p>
                When you arrive at the airport, our English speaking and good staff will meet and great you at the exit of Noi Bai Airport by holding the your name or signboard
            </p>
            <p>
                When the booking is confirmed, our driver will be waiting for you at the exit terminal gate. If you do not see our driver, you should call to hotline: 096 410 8688 to deal with it
            </p>
            <p>
                Taxi fare is charged according to taxi meter. Taxi ride to city center takes 30 minutes. Our price for Taxi Noi Bai Airport Service about 25 USD/ trip ( 350.000 VND/ trip) (price includes parking fee, allowances for driver, fuel, fixed price without hideen cost)
            </p>
            <h4 class="color_green">
                Other services in hiring a car
            </h4>
            <h5 class="color_green"><i>Optimize time and fee for customer</i></h5>

            <p>We offer car rental services: Ha Noi rental car with long and short term.</p>
            <p>Wedding, anniversary, trip, picnic services
            Providing monthly year, and long term car rental service
            Please call us to recive the best price for renting a car. It is our pleasure to serve our guests.
            .</p>

            <div class="table-responsive">
                <table class="table table-bordered" id="table_baogia" style="margin-top: 15px;">
                    <caption>PRICING TABLE</caption>
                    <thead>
                        <tr style="text-align: center;">
                            <th rowspan="3" colspan="5" style="width: 400px;">Car type (Seats)</th>
                            <th rowspan="3" colspan="2">Ha Noi - Noi Bai Airport</th>
                            <th rowspan="3" colspan="2">Noi Bai Airport - Ha Noi</th>
                            <th rowspan="3" colspan="2">Book Return Nội Bài Airport</th>                            
                        </tr>
                        <tr style="text-align: center;">                            
                        </tr>
                        <tr style="text-align: center;"></tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="bg_fw1" colspan="5">Car 4 seats (Toyota Vios)</td>
                            
                            <td colspan="2">
                                200,000 vnd
                            </td>
                            <td colspan="2">
                                300,000 vnd
                            </td>
                            <td colspan="2">
                                480,000 vnd
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="bg_fw1" colspan="5">Car 7 seats (Toyota Vios)</td>
                            
                            <td colspan="2">
                                220,000
                            </td>
                            <td colspan="2">
                                320,000
                            </td>
                            <td colspan="2">
                                520,000
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="bg_fw1" colspan="5">Car 16 seats (Toyota Vios)</td>
                            
                            <td colspan="2">350,000</td>
                            <td colspan="2">450,000</td>
                            <td colspan="2">750,000</td>
                            
                        </tr>
                        <tr>
                            <td class="bg_fw1" colspan="5">Car 29 seats (Huyndai County)</td>
                            
                            <td colspan="2">900,000</td>
                            <td colspan="2">900,000</td>
                            <td colspan="2">1,700,000</td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="vertical-align: middle; font-weight: 700;" rowspan="5" colspan="5">Ghi chú:</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan="6" rowspan="5">

                                <ul style="list-style-type: none; padding-left: 0; font-weight: 600;">
                                    <li>
                                        <b>For go to Airport:</b>
                                        <ul style="list-style-type: none; padding-left: 5px;">
                                            <li>
                                                <p>
                                                    - If from pick up location and to return location are in 4 district(Ba Đình, Đống Đa, Hoàn Kiếm, Cầu Giấy): 200.000 (forward) - 300.000 (back) and other district: 250.000 (forward) – 350.000 (back).
                                                </p>
                                            </li>
                                            <li><p>- If distance of trip > 40kms (Chương Mỹ, Quốc Oai,…): fee are caculated by = distance * price per km</p></li>

                                        </ul>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>

                    </tfoot>

                </table>
                <div><p style="font-weight: 600;">Note that: All pricing are not include <span style="background: #26AAEA; padding: 5px; color: #fff;">ticket on the road(toll,..)</span> and  <span style="background: #26AAEA; padding: 5px;color: #fff;">VAT tax</span>.</p></div>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <!-- Widget: Categories -->
        <div class="widget" style="padding: 0;">
            <h3>Other News</h3>
            @Html.Raw(ViewBag.menuleft)
        </div>
    </div>

</div>